<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col" colspan="3">{monday0}</th>
      <th scope="col" colspan="3">{friday0}</th>
      <th scope="col" colspan="3">{monday1}</th>
      <th scope="col" colspan="3">{friday1}</th>
      <th scope="col" colspan="3">{monday2}</th>
      <th scope="col" colspan="3">{friday2}</th>
      <th scope="col" colspan="3">{monday3}</th>
      <th scope="col" colspan="3">{friday3}</th>
      <th scope="col" colspan="3">{monday4}</th>
      <th scope="col" colspan="3">{friday4}</th>
      <th scope="col" colspan="3">{monday5}</th>
      <th scope="col" colspan="3">{friday5}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col" colspan="3"></th>
      <th scope="col" colspan="3"></th>
      <th scope="col" colspan="3"></th>
      <th scope="col" colspan="3"></th>
      <th scope="col" colspan="3"></th>
      <th scope="col" colspan="3"></th>
      <th scope="col" colspan="3"></th>
      <th scope="col" colspan="3"></th>
      <th scope="col" colspan="3"></th>
      <th scope="col" colspan="3"></th>
      <th scope="col" colspan="3"></th>
      <th scope="col" colspan="3"></th>
    </tr>
    <tr>
      <th scope="row">{group0}</th>
      <th scope="row">{g0name}</th>
      <td>{g0e00}</td>
      <td>{g0e01}</td>
      <td>{g0e02}</td>
      <td>{g0e03}</td>
      <td>{g0e04}</td>
      <td>{g0e05}</td>
      <td>{g0e10}</td>
      <td>{g0e11}</td>
      <td>{g0e12}</td>
      <td>{g0e13}</td>
      <td>{g0e14}</td>
      <td>{g0e15}</td>
      <td>{g0e20}</td>
      <td>{g0e21}</td>
      <td>{g0e22}</td>
      <td>{g0e23}</td>
      <td>{g0e24}</td>
      <td>{g0e25}</td>
      <td>{g0e30}</td>
      <td>{g0e31}</td>
      <td>{g0e32}</td>
      <td>{g0e33}</td>
      <td>{g0e34}</td>
      <td>{g0e35}</td>
      <td>{g0e40}</td>
      <td>{g0e41}</td>
      <td>{g0e42}</td>
      <td>{g0e43}</td>
      <td>{g0e44}</td>
      <td>{g0e45}</td>
      <td>{g0e50}</td>
      <td>{g0e51}</td>
      <td>{g0e52}</td>
      <td>{g0e53}</td>
      <td>{g0e54}</td>
      <td>{g0e55}</td>
    </tr>
    <tr>
      <th scope="row">{group1}</th>
      <th scope="row">{g1name}</th>
      <td>{g1e00}</td>
      <td>{g1e01}</td>
      <td>{g1e02}</td>
      <td>{g1e03}</td>
      <td>{g1e04}</td>
      <td>{g1e05}</td>
      <td>{g1e10}</td>
      <td>{g1e11}</td>
      <td>{g1e12}</td>
      <td>{g1e13}</td>
      <td>{g1e14}</td>
      <td>{g1e15}</td>
      <td>{g1e20}</td>
      <td>{g1e21}</td>
      <td>{g1e22}</td>
      <td>{g1e23}</td>
      <td>{g1e24}</td>
      <td>{g1e25}</td>
      <td>{g1e30}</td>
      <td>{g1e31}</td>
      <td>{g1e32}</td>
      <td>{g1e33}</td>
      <td>{g1e34}</td>
      <td>{g1e35}</td>
      <td>{g1e40}</td>
      <td>{g1e41}</td>
      <td>{g1e42}</td>
      <td>{g1e43}</td>
      <td>{g1e44}</td>
      <td>{g1e45}</td>
      <td>{g1e50}</td>
      <td>{g1e51}</td>
      <td>{g1e52}</td>
      <td>{g1e53}</td>
      <td>{g1e54}</td>
      <td>{g1e55}</td>
    </tr>
    <tr>
      <th scope="row">{group2}</th>
      <th scope="row">{g2name}</th>
      <td>{g2e00}</td>
      <td>{g2e01}</td>
      <td>{g2e02}</td>
      <td>{g2e03}</td>
      <td>{g2e04}</td>
      <td>{g2e05}</td>
      <td>{g2e10}</td>
      <td>{g2e11}</td>
      <td>{g2e12}</td>
      <td>{g2e13}</td>
      <td>{g2e14}</td>
      <td>{g2e15}</td>
      <td>{g2e20}</td>
      <td>{g2e21}</td>
      <td>{g2e22}</td>
      <td>{g2e23}</td>
      <td>{g2e24}</td>
      <td>{g2e25}</td>
      <td>{g2e30}</td>
      <td>{g2e31}</td>
      <td>{g2e32}</td>
      <td>{g2e33}</td>
      <td>{g2e34}</td>
      <td>{g2e35}</td>
      <td>{g2e40}</td>
      <td>{g2e41}</td>
      <td>{g2e42}</td>
      <td>{g2e43}</td>
      <td>{g2e44}</td>
      <td>{g2e45}</td>
      <td>{g2e50}</td>
      <td>{g2e51}</td>
      <td>{g2e52}</td>
      <td>{g2e53}</td>
      <td>{g2e54}</td>
      <td>{g2e55}</td>
    </tr>
    <tr>
      <th scope="row">{group3}</th>
      <th scope="row">{g3name}</th>
      <td>{g3e00}</td>
      <td>{g3e01}</td>
      <td>{g3e02}</td>
      <td>{g3e03}</td>
      <td>{g3e04}</td>
      <td>{g3e05}</td>
      <td>{g3e10}</td>
      <td>{g3e11}</td>
      <td>{g3e12}</td>
      <td>{g3e13}</td>
      <td>{g3e14}</td>
      <td>{g3e15}</td>
      <td>{g3e20}</td>
      <td>{g3e21}</td>
      <td>{g3e22}</td>
      <td>{g3e23}</td>
      <td>{g3e24}</td>
      <td>{g3e25}</td>
      <td>{g3e30}</td>
      <td>{g3e31}</td>
      <td>{g3e32}</td>
      <td>{g3e33}</td>
      <td>{g3e34}</td>
      <td>{g3e35}</td>
      <td>{g3e40}</td>
      <td>{g3e41}</td>
      <td>{g3e42}</td>
      <td>{g3e43}</td>
      <td>{g3e44}</td>
      <td>{g3e45}</td>
      <td>{g3e50}</td>
      <td>{g3e51}</td>
      <td>{g3e52}</td>
      <td>{g3e53}</td>
      <td>{g3e54}</td>
      <td>{g3e55}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <th scope="row"></th>
    </tr>
    <tr>
      <th scope="row"></th>
      <th scope="row"></th>
    </tr>
    <tr>
      <th scope="row"></th>
      <th scope="row">Aktive</th>
    </tr>
    <tr>
      <th scope="row"></th>
      <th scope="row">Einturnen</th>
      <th scope="col" colspan="3">{e0}</th>
      <th scope="col" colspan="3">{e1}</th>
      <th scope="col" colspan="3">{e2}</th>
      <th scope="col" colspan="3">{e3}</th>
      <th scope="col" colspan="3">{e4}</th>
      <th scope="col" colspan="3">{e5}</th>
      <th scope="col" colspan="3">{e6}</th>
      <th scope="col" colspan="3">{e7}</th>
      <th scope="col" colspan="3">{e8}</th>
      <th scope="col" colspan="3">{e9}</th>
      <th scope="col" colspan="3">{e10}</th>
      <th scope="col" colspan="3">{e11}</th>
    </tr>
    <tr></tr>
  </tbody>
</table>