<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" colspan="3">{monday}</th>
      <th scope="col" colspan="3">{friday}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{group0}</th>
      <td>{g0e0}</td>
      <td>{g0e1}</td>
      <td>{g0e2}</td>
      <td>{g0e3}</td>
      <td>{g0e4}</td>
      <td>{g0e5}</td>
    </tr>
    <tr>
      <th scope="row">{group1}</th>
      <td>{g1e0}</td>
      <td>{g1e1}</td>
      <td>{g1e2}</td>
      <td>{g1e3}</td>
      <td>{g1e4}</td>
      <td>{g1e5}</td>
    </tr>
    <tr>
      <th scope="row">{group2}</th>
      <td>{g2e0}</td>
      <td>{g2e1}</td>
      <td>{g2e2}</td>
      <td>{g2e3}</td>
      <td>{g2e4}</td>
      <td>{g2e5}</td>
    </tr>
    <tr>
      <th scope="row">{group3}</th>
      <td>{g3e0}</td>
      <td>{g3e1}</td>
      <td>{g3e2}</td>
      <td>{g3e3}</td>
      <td>{g3e4}</td>
      <td>{g3e5}</td>
    </tr>
  </tbody>
</table>